<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.convertlab.beans.mapper.CustomerMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.convertlab.beans.entity.CustomerMoney" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="money_total" property="moneyTotal" jdbcType="DECIMAL" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="tenant_id" property="tenantId" jdbcType="INTEGER" />
    <result column="is_play" property="isPlay" jdbcType="VARCHAR" />
    <result column="play_type" property="playType" jdbcType="VARCHAR" />
    <result column="play_id" property="playId" jdbcType="INTEGER" />
    <result column="is_add" property="isAdd" jdbcType="VARCHAR" />
    <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>