<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.convertlab.beans.mapper.PlayRecordMapper" >
  <resultMap id="BaseResultMap" type="com.convertlab.beans.entity.PlayRecord" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="is_open" property="isOpen" jdbcType="VARCHAR" />
    <result column="open_date" property="openDate" jdbcType="TIMESTAMP" />
    <result column="num1" property="num1" jdbcType="INTEGER" />
    <result column="num2" property="num2" jdbcType="INTEGER" />
    <result column="num3" property="num3" jdbcType="INTEGER" />
    <result column="num4" property="num4" jdbcType="INTEGER" />
    <result column="num5" property="num5" jdbcType="INTEGER" />
    <result column="num6" property="num6" jdbcType="INTEGER" />
    <result column="num7" property="num7" jdbcType="INTEGER" />
    <result column="num8" property="num8" jdbcType="INTEGER" />
    <result column="num9" property="num9" jdbcType="INTEGER" />
    <result column="num10" property="num10" jdbcType="INTEGER" />
    <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>