<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.convertlab.beans.mapper.PlayBetMapper" >
  <resultMap id="BaseResultMap" type="com.convertlab.beans.entity.PlayBet" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="play_id" property="playId" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="bet_money" property="betMoney" jdbcType="DECIMAL" />
    <result column="tenant_id" property="tenantId" jdbcType="INTEGER" />
    <result column="date_created" property="dateCreated" jdbcType="TIMESTAMP" />
    <result column="last_updated" property="lastUpdated" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>