<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.convertlab.beans.mapper.TenantMapper">
  <resultMap id="BaseResultMap" type="com.convertlab.beans.entity.Tenant">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="date_created" jdbcType="TIMESTAMP" property="dateCreated" />
    <result column="update_user" jdbcType="INTEGER" property="updateUser" />
    <result column="last_updated" jdbcType="TIMESTAMP" property="lastUpdated" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="channel_source" jdbcType="VARCHAR" property="channelSource" />
    <result column="su_id" jdbcType="BIGINT" property="suId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="customer_code" jdbcType="VARCHAR" property="customerCode" />
  </resultMap>


</mapper>