@charset "utf-8";

@import 'variable';

.stage{
    width: 50px;
    height: 50px;
    display: inline-block;
    perspective: 1200px;
    perspective-origin: 50% 50%;
    .ball {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 50%;
        position: relative;
        background: radial-gradient(circle at 50% 120%, #03523e, #00dba2 80%, #01cf97 100%);
        &:before{
            content: "";
            position: absolute;
            background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
            border-radius: 50%;
            bottom: 2.5%;
            left: 5%;
            opacity: 0.6;
            height: 100%;
            width: 90%;
            -webkit-filter: blur(5px);
            z-index: 2;
        }
        .num{
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 50px;
            text-align: center;
            color: #03523e;
        }
        .shadow{
          position: absolute;
          width: 100%;
          height: 100%;
          background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
          transform: rotateX(90deg) translateZ(-33px) translateX(-32px);
          z-index: -1;
        }
    }
}